:root {
    --red: #ff6f69;
    --beige: #ffeead;
    --yellow: #ffcc5c;
}

html, body {
    background: var(--beige);
    color: var(--red);
}

h1, p {
    color: var(--red);
}

/* create line.17 and change in child of navbar */
#navbar {
    --nav--redColor: #ca3633;
}


#navbar a {
    /* color: var(--red);  //from root to local*/ 
    color: var(--nav--redColor);
}


.item {
    --item-yellow: #f1ed07;
}


.item {
    background: var(--item-yellow);
}

button {
    background: var(--red);
    color: var(--item-yellow);
}

/*

#ff8e69

*/